/* ### Primary

- Green 400: hsl(172, 67%, 45%)

### Neutral

- Green 900: hsl(183, 100%, 15%)
- Grey 500: hsl(186, 14%, 43%)
- Grey 400: hsl(184, 14%, 56%)
- Grey 200: hsl(185, 41%, 84%)
- Grey 50: hsl(189, 47%, 97%)
- White: hsl(0, 100%, 100%)

## Typography

### Body Copy

- Font size (form inputs): 24px

### Font

- Family: [Space Mono](https://fonts.google.com/specimen/Space+Mono)
- Weights: 700 */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

:root {
  --primary-400: hsl(172, 67%, 45%);
  --neutral-900: hsl(183, 100%, 15%);
  --neutral-500: hsl(186, 14%, 43%);
  --neutral-400: hsl(184, 14%, 56%);
  --neutral-200: hsl(185, 41%, 84%);
  --neutral-50: hsl(189, 47%, 97%);
  --white: hsl(0, 100%, 100%);
  --font-family: "Space Mono", monospace;
  --font-size: 24px;
  --font-weight: 700;
  --line-height: 1.5;
  --border-radius: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--neutral-50);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  padding: 40px;
  height: 100vh;
}

section {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
}
